page-home {

    #bd{
        border-right: 2px solid grey;
    }
    .left,.right{
        width: 50%;
        float: left;
        text-align: center;
        padding: 0 5%;

        button{
            background-color: orange;
        }
      
    }

    .btn{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        button{
            background-color: orange;
        }

    }

   

    ion-title{
        background-color: orange;
    }
    h1{
        color: grey
    }
}
